@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.exec-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  svg, a {
    display: block;
    vertical-align: middle;
    opacity: 1;
    transition: .2s ease;
  }

  svg {
    width: 26px!important;
    height: 26px!important;
  }

  &__button {
    cursor: pointer;
    transition: .2s ease;
    
    &:hover {
      svg {
        color: $brandColor;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    // margin-left: auto;
  }
}
