@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.form {
  margin: 0 auto;
  font-size: 1rem;

  &__body {
    padding: 0 $gutter * 2;
  }

  &__title {
    margin-bottom: 5px!important;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__row {
    text-align: center;

    &--submit {
      display: flex!important;
      flex-direction: row!important;
      justify-content: space-between;
      align-items: center;
      margin-top: $gutter;
      text-align: right;
    }
  }

  &__input {
    width: 100%;
    min-height: 68px!important;
    margin-top: 10px!important;
    margin-bottom: 0!important;

    label, input {
      font-size: 0.9rem!important;
    }
  }

  &__error {
    color: $dangerColor!important;
  }
}

@include media-max-xxs() {
  .form {
    &__body {
      padding: 0;
    }
  }
}
