@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.execution-info {
  position: relative;
  font-size: 1rem;

  &__stats {
    margin: 0 0 30px;
    box-shadow: 0 0 6px rgba(#aaa, .3);
    overflow: auto;
  }

  &__group {
    width: 25%;
  }

  .table {
    min-width: 800px;

    &__head {
      font-size: .9em!important;
  
      .table__cell {
        font-weight: 500;
        color: #333;
      }
    }

    &__cell {
      text-align: left!important;
    }
  }

  &__back-icon {
    margin-left: 10px;
  }

  &__footer {
    margin-top: 20px;
    text-align: right;
  }

  &--loaded {
    .execution-info__loader {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: .15s ease .5s;
    }
  }
}

.execution-console {
  width: 100%;
  height: 200px;
  margin: 10px auto;
  padding: 18px 15px;
  background: #fafafa;
  border-radius: 3px;
  font-size: 1rem;
  overflow: auto;
  @include custom-scroll(#f0f0f0, $brandColor);

  &__row {
    position: relative;
    padding: 3px 75px 3px 15px;
    font-size: 1em;
    line-height: 1.2;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background: rgba($brandColor, .15);
    }
  }

  &__timestamp {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: .6em;
    font-weight: 500;
  }
}
