@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.commands {
  font-size: 1rem;
}

.commands-table {
  box-shadow: 0 0 6px rgba(#aaa, .3);
  overflow: auto;
  
  table {
    min-width: 800px;
  }

  &__cell {
    text-align: left!important;
  }

  &__row {
  }

  &__head {
    font-size: .9em!important;

    .commands-table__cell {
      font-weight: 500;
      color: #333;
    }
  }

  &__actions {
    svg, a {
      display: block;
      vertical-align: middle;
      opacity: 1;
      transition: .2s ease;
    }

    svg {
      width: 20px!important;
      height: 20px!important;
    }
    
    a {
      &:hover {
        svg {
          color: $brandColor;
        }
      }
    }
  }
}
