@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.dashbar {
  position: relative;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 1rem;

  &__title {
    font-size: 1.7em;
    font-weight: 400;
  }

  &__button {
    position: absolute;
    right: -10px;
    top: 0;

    svg {
      width: 50px!important;
      height: 50px!important;
      color: $brandColor!important;
    }
  }
}

@include media-max-sm() {
  .dashbar {
    padding: 5px 0;
    margin-bottom: 20px;

    &__title {
      font-size: 1.3em;
    }

    &__button {
      top: -3px;
      right: -7px;

      svg {
        width: 40px!important;
        height: 40px!important;
      }
    }
  }
}
