@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.remex-stages {
  padding: 0;

  &__list {
    
  }
}

.remex-stage {
  &__icon {
    display: block;
    width: 80%;
    max-width: 100px;
    margin: 0 auto $gutter;
  }

  &__label {
    letter-spacing: 1px;
  }
}

@include media-max-xs() {
  .remex-stages {
    &__list {
      .remex-stage {
        // max-width: 100%!important;
        // flex-basis: 100%!important;

        &:not(:last-child) {
          margin-bottom: $gutter * 1.5;
        }
      }
    }
  }
}
