@import './utils/vars';
@import './utils/mixins';

.v-command {
  font-size: 1rem;

  .langs {
    select {
      padding: 0 8px;

      &:focus {
        background: none!important;
      }

      option {
        font-size: 0.85em;
      }
    }
  }

  &__container {
    padding: 0;
  }

  .form {
    &__row {
      text-align: left;
    }

    &__body {
      padding: 0;
    }
    
    &__input {
      margin-top: 0!important;
    }

    &__success {
      padding: 100px 0 50px;
      color: $brandColor;
      font-size: 1.5em;
      font-weight: 500;
      text-align: center;

      svg {
        width: 50px!important;
        height: 50px!important;
        margin: 15px auto 0;
        cursor: pointer;
      }
    }

    &__group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .form__row {
        width: 32%;
      }
    }

    &__submit {
      margin-left: auto;
    }
  }
}

@include media-max-xs() {
  .v-command {
    .form {
      &__group {
        .form__row {
          width: 100%;
        }
      }
    }

    .editor {
      &__ui {
        display: block;
      }
    }
  }
}
