@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/reset';

html {
  font-family: $mainFont;
  font-size: 16px;
  color: $fontColor;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;

  @include custom-scroll('#fff', $brandColor);
}

body {
  background: $bodyBg;
}

.container {
  display: block;
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
}

.page {
  min-height: 100vh;
  padding: 50px 0 25px;
}

.app {
  &__logo {
    display: block;
  }

  &__link {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    opacity: 1;
  }

  &__version {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 130px;
    cursor: pointer;

    &-label {
      color: $brandColor;
    }
  }

  &__user {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: $z5;
  }
}

@include media-max-xs() {
  $containerPadding: 20px;

  .container {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
  }
}
