@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.ui-loader {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #fff;
  z-index: 100;

  .remex {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    margin: 0 auto;

    &__chars {
      fill: #f0f0f0;
    }

    &__row {
      fill: rgba($brandColor, .15);
    }

    &__row2 {
      fill: rgba($brandColor, .3);
    }
  }
}
