@mixin transition_default() {
  transition: 0.2s ease;
}

@mixin hover_default() {
  opacity: 0.8;
  &:hover, &.is-active {
    opacity: 1;
  }
}

@mixin hidden() {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@mixin visible() {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}

@mixin gradient_text($colorStart: #cc3489, $colorEnd: #ff4635) {
  color: mix($colorStart, $colorEnd);
  background-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradient_border($colorStart: #cc3489, $colorEnd: #ff4635) {
  border-color: mix($colorStart, $colorEnd);
  -webkit-border-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
  -moz-border-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
  -o-border-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
  border-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
}

@mixin gradient_bg($colorStart: #cc3489, $colorEnd: #ff4635) {
  background-color: mix($colorStart, $colorEnd);
  background-image: linear-gradient(-42deg, $colorStart 0%, $colorEnd 100%);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}

  &:focus::-webkit-input-placeholder { opacity: 0; }
  &:focus:-moz-placeholder           { opacity: 0; }
  &:focus::-moz-placeholder          { opacity: 0; }
  &:focus:-ms-input-placeholder      { opacity: 0; }
}

@mixin autocomplete {
  &:-webkit-autofill {@content}
  &:-webkit-autofill:focus {@content}
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
  }
}

@mixin user-select($value) {
  -webkit-user-select: $value;  
  -moz-user-select: $value;     
  -ms-user-select: $value;     
  user-select: $value;    
}

@mixin custom-scroll($track, $thumb) {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-button {
    
  }
  &::-webkit-scrollbar-track {
    width: 100%;
  }
  &::-webkit-scrollbar-track-piece {
    width: 100%;
    background: $track;
  }
  &::-webkit-scrollbar-thumb {
    width: 100%;
    background: $thumb;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin media-max($mWidth) {
  @media only screen and (max-width: $mWidth) {
    @content;
  }
}

@mixin media-max-md {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media-max-sm {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin media-max-xs {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-max-xxs {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
