* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}
[hidden] {
  display: none
}
html, button, input, select, textarea {
  font-family: $mainFont;
}
b, strong {
  font-weight: bold
}
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  display: block;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}
img {
  border-width: 0;
}
