$bodyBg: #FFF;

$brandColor: #ff4081;
$dangerColor: #fe2a2a;

/**
* FONTS
*/
$mainFont: 'Roboto', sans-serif;
$fontColor: #333;

/**
* LAYOUT
*/
$gutter: 15px;
$containerMaxWidth: 1920px;
$containerPadding: 30px;

/**
* Z-INDEX
*/
$z0: 999;
$z1: 100;
$z2: 50;
$z3: 45;
$z4: 40;
$z5: 35;
$z6: 30;
$z7: 20;
$z8: 15;
$z9: 10;
$z10: 5;
