@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.v-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;

  .form {
    width: 360px;
  }
}

@include media-max-xxs() {
  .v-auth {
    .form {
      width: 100%;
    }
  }
}
