@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.technologies {
  text-align: center;

  &__list {
    display: inline-block;
    margin: 0 -8px;
  }

  &__label {
    margin: 0 0 10px!important;
    color: $brandColor;
  }

  &__item {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;

    svg {
      display: block;
      width: 35px;
      height: 35px;
    }
  }
}
