@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.executions {
  font-size: 1rem;
}

.executions-table {
  box-shadow: 0 0 6px rgba(#aaa, .3);
  overflow: auto;
  
  table {
    min-width: 800px;
  }

  &__cell {
    text-align: left!important;
  }

  &__row {
  }

  &__head {
    font-size: .9em!important;

    .executions-table__cell {
      font-weight: 500;
      color: #333;
    }
  }
}
