@import '~styles/utils/vars';

.remex {
  width: 120px;
  height: auto;

  &__row {
    fill: #777;
    transform-origin: 92px 11.2px;
    animation: 1s linear 0s remexRow;
    animation-iteration-count: infinite;
    opacity: .8;
  }

  &__row2 {
    fill: #777;
    transform-origin: 92px 6.4px;
    animation: 1s linear .5s remexRow2;
    animation-iteration-count: infinite;
    opacity: .6;
  }

  &__chars {
    fill: $brandColor;
  }
}

@keyframes remexRow {
  0%, 100% {
    transform: scaleX(0.9);
  }
  50% {
    transform: scaleX(1.2);
  }
}

@keyframes remexRow2 {
  0%, 100% {
    transform: scaleX(.8);
  }
  50% {
    transform: scaleX(1.2);
  }
}
