@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.usermenu {
  font-size: 1rem;

  &.is-active {
    .usermenu__icon {
      color: $brandColor!important;
    }
  }

  &__icon {
    display: block;
    width: 36px!important;
    height: 36px!important;
    margin-bottom: 5px;
    color: #999;
    cursor: pointer;
    transition: .2s ease!important;
  }

  &__list {
    padding: 0!important;
  }

  &__item {
    padding: 0!important;
    background: none!important;
    cursor: pointer;

    &:hover {
      .usermenu__item-icon {
        color: $brandColor;
      }
    }
  }
  
  &__link {
    display: flex;
    flex-direction: row;
    padding: 8px 16px !important;
  }
  
  &__item-icon {
    position: relative;
    width: 18px!important;
    height: 18px!important;
    margin-right: 10px!important;
    top: -.5px;
    transition: .2s ease!important;
  }

  &__item-text {
    padding: 0!important;

    h3 {
      font-size: .9rem!important;
    }
  }
}
