@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.v-home {
  color: #555;
  font-size: 1rem;

  &__background {
    display: none;
    position: absolute;
    width: 100%;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      z-index: 1;
      opacity: .95;
    }
  }

  &__content {
    position: relative;
    padding-top: $gutter * 2;
    z-index: 1;
    text-align: center;
  }

  &__title {
    margin: 0 0 0.3em;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 3px;

    span {
      color: $brandColor;
    }
  }

  &__description {
    color: #888;
    font-size: 0.9em;
    line-height: 1.4;
  }

  &__call {
    margin-top: $gutter;
    text-align: center;

    &-link {
      opacity: 1;
    }
    
    &-button {
      padding: 15px 25px!important;
    }
  }
  
  .remex-stages {
    max-width: 800px;
    margin: $gutter * 3 auto $gutter * 3;
  }
  
  .technologies {
    margin: 0 auto $gutter * 3;
  }
}

@include media-max-sm() {
  .v-home {
    &__title {
      font-size: 2.2em;
      letter-spacing: 2px;
    }

    &__call-button {
      padding: 12px 20px !important;
      font-size: 0.8em!important;
    }

    .remex-stage {
      &__icon {
        max-width: 80px;
        margin: 0 auto 10px;
      }

      &__label {
        font-size: 0.8em;
      }
    }
  }
}

@include media-max-xs() {
  .v-home {
    &__title {
      font-size: 1.9em;
      letter-spacing: 1px;
    }

    &__call-button {
      max-width: 240px;
    }
    
    .remex-stages {
      margin: $gutter * 2 0 $gutter * 3;
    }
  }
}
