@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.editor {
  &__body {
    width: 100%!important;
  }

  &__ui {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -10px;
  }

  &__select {
    width: 100%;
  }
  
  &__group {
    display: block!important;
    position: relative;
    margin: 15px 10px!important;
    width: 120px!important;

    select {
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box;

      &:focus {
        background: none!important;
      }
    }

    option {
      font-size: 0.85em;
    }
  }

  &__content {
    width: 100%;
    position: relative;
  }

  &__body {
    margin-top: 16px;
  }

  &__error {
    text-align: right!important;
  }

  .ace_scrollbar-v {
    @include custom-scroll('#fff', $brandColor);
  }
}
