@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.exec-status {
  &__svg {
    -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
    width: 36px;
    height: 36px;
    margin: 5px auto;
  }

  &__circle {
    stroke-dasharray: 150,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }

  &--executing {
    .exec-status {
      &__svg {
        -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
      }

      &__circle {
        stroke: green;
        stroke-dashoffset: -15;
        -webkit-animation: dash 2s ease-in-out infinite;
          animation: dash 2s ease-in-out infinite;
      }
    }
  }

  &--stopped {
  }

  &--paused {
    .exec-status {
      &__svg {
        -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
      }
    }
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
