@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.v-dashboard {
  $drawerWidth: 200px;

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 30px;
  }
  
  &__drawer {
    position: sticky;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &__main {
    width: calc(100% - 200px);
    padding: 0 0 0 30px;
  }
}

@include media-max-sm() {
  .v-dashboard {
    &__drawer {
      width: 150px;
    }

    &__main {
      width: calc(100% - 150px);
      padding: 0;
    }

    .drawer {
      &__header {
        padding: 10px 15px;
        font-size: .9em;
      }

      &__section {
        padding: 17px 15px 4px!important;
      }

      &__item-text {
        padding: 0 12px!important;
      }

      &__link {
        padding: 10px 10px;
        justify-content: center;
      }
    }
  }
}

@include media-max-xs() {
  .v-dashboard {
    &__drawer {
      width: 54px;
      overflow: hidden;
    }

    &__main {
      width: calc(100% - 54px);
    }

    .drawer {
      &__section, &__header {
        color: transparent;
      }

      &__section {
        padding: 10px 15px 0px !important;

        span {
          font-size: 0;
        }
      }

      &__item-text {
        display: none;
      }
    }
  }
}
