@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.drawer {
  font-size: 1rem;

  &__header {
    display: block;
    padding: 15px 22px;
    background: $brandColor;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #fff;
    opacity: 1;
    letter-spacing: 1px;
  }

  &__list {
    padding: 0!important;
  }

  &__item {
    padding: 0!important;

    &:hover {
      background: none!important;
    }
  }

  &__item-text {
    h3 {
      font-size: 0.9rem;
    }
  }

  &__icon {
    position: relative;
    top: -2px;
    margin-right: 0!important;

    transition: .2s ease!important;
  }

  &__section {
    padding: 20px 22px 7px!important;
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 22px;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;

    &:hover {
      background: #fafafa;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      width: 4px;
      background: $brandColor;
      opacity: 0;
    }

    &.is-active {
      .drawer__icon {
        color: $brandColor;
      }
    }
  }
}
