@import '~styles/utils/vars';
@import '~styles/utils/mixins';

.add-execution {
  position: relative;

  &__selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;
    padding: 15px 20px;
    border-radius: 3px;
    background: #fcfcfc;
  }

  &__commands {
    overflow: auto;

    table {
      min-width: 600px;
    }
  }

  &__selected-button {
    margin-left: auto;
  }

  &__selected-icon {
    margin-left: 10px;
  }

  &__success {
    padding: 100px 0 50px;
    color: $brandColor;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

    svg {
      width: 50px!important;
      height: 50px!important;
      margin: 15px auto 0;
      cursor: pointer;
    }
  }

  &--loaded {
    .add-execution__loader {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: .15s ease .5s;
    }
  }
}
